{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Create Itinerary</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: url("/static/images/ireland2.jpg") fixed;;
			background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
		}
		.user_card {
			width: 1000px;
			margin-top: auto;
			margin-bottom: auto;
			background: #FFFFFF;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: #fff;

		}

		.login_btn {
			width: 100%;
			background: #33ccff !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #33ccff !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

		#messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}
    </style>

  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="/home">Itinerary Creator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/home">Create Itinerary<span class="sr-only">(current)</span></a>
                        </li>
                        {% ifequal article.creator|stringformat:"AnonymousUser" request.user.username %}
                            <li class="nav-item active">
                                <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/signup">Sign Up<span class="sr-only">(current)</span></a>
                            </li>
                        {% else %}
                            <li class="nav-item active">
                                <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
                            </li>
                        {% endifequal %}
                    </ul>
                </div>
            {% ifequal article.creator|stringformat:"AnonymousUser" request.user.username %}
                <span class="hello-msg">Hello, Guest</span>
            {% else %}
                <span class="hello-msg">Hello, {{request.user}}</span>
                <span ><a  class="hello-msg" href="/logout" style="color:white">Logout</a></span>
            {% endifequal %}
        </nav>
    </header>
    <main role="main" class="container">
        <div class="user_card">
      <h3>Create Itinerary</h3>
      <form method="GET" action=".">
        <div class="form-row">
            <p style="color:red">{{ message }}</p>
            <div class="form-group col-12">
                <label>Location</label>
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="location" placeholder="Location..." style="width: 300px;" />
                    <span class="input-group-append">
                    </span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <label>Types of Food</label>
                <select id="type_food" name="type_food" multiple="multiple">
                    {% for food in types_food %}
                    <option value="{{ food }}">{{ food|title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
<!--                <div class="input-group">-->
<!--                    <input class="form-control py-2 border-right-0 border" type="search" name="price" placeholder="Price..." />-->
                        <label>Price</label>
                        <select name="price" >
                            <option value="Cheap">Cheap</option>
                            <option value="Medium">Medium</option>
                            <option value="Expensive">Expensive</option>
                        </select>
<!--                    <span class="input-group-append">-->
<!--                        <div class="input-group-text bg-transparent">-->
<!--                            <i class="fa fa-search"></i>-->
<!--                        </div>-->
<!--                    </span>-->
<!--                </div>-->
            </div>
        </div>
        <div class="form-row">
<!--            <div class="form-group col-12">-->
<!--                <div class="input-group">-->
<!--                    <input class="form-control py-2 border-right-0 border" type="search" name="interests" placeholder="Interests..." />-->
<!--                    <span class="input-group-append">-->
<!--                        <div class="input-group-text bg-transparent">-->
<!--                            <i class="fa fa-search"></i>-->
<!--                        </div>-->
<!--                    </span>-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group col-12">
                <label>Interests</label>
                <select id="interests" name="interests" multiple="multiple">
                    {% for attraction in types_attractions %}
                    <option value="{{ attraction }}">{{ attraction|title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2 col-lg-2">
            <label for="startDate">Start date</label>
            <input type="date" class="form-control" id="startDate" name="start_date">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="endDate">End date</label>
            <input type="date" class="form-control" id="endDate" name="end_date">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <label>Type of Holiday</label>
                <select name="type_holiday">
                    {% for holiday in types_holidays %}
                    <option value="{{ attraction }}">{{ holiday }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
          <a href="/itinerary"><button type="submit" class="btn btn-primary">Search</button></a>
      </form>
      <hr />
        </div>
    </main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script   src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{% static 'scripts/bootstrap-multiselect.js' %}"></script>

<script>
$(function() {
 $('#multiselect').multiselect();

 $('#interests').multiselect();
 $('#type_food').multiselect();

 $("price").selectBoxIt();

 $('#multiselectwithsearch').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: 'Search for something...'
        });
});
</script>
</body>

</html>
