{% load static %}
<html>
  <head>
    <title>Itinerary Creator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css"/>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="/home">Itinerary Creator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/location">Create Itinerary<span class="sr-only">(current)</span></a>
                        </li>
                        {% ifequal article.creator|stringformat:"AnonymousUser" request.user.username %}
                            <li class="nav-item active">
                                <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/signup">Sign Up<span class="sr-only">(current)</span></a>
                            </li>
                        {% else %}
                            <li class="nav-item active">
                                <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
                            </li>
                        {% endifequal %}
                    </ul>
                </div>
            {% ifequal article.creator|stringformat:"AnonymousUser" request.user.username %}
                <span class="hello-msg">Hello, Guest</span>
            {% else %}
                <span class="hello-msg">Hello, {{request.user}}</span>
                <span ><a  class="hello-msg" href="/logout" style="color:white">Logout</a></span>
            {% endifequal %}
        </nav>
    </header>
       <div id="slideshow" style="font-family: 'Lucida Handwriting', 'Courier New', monospace; color:white;">
        <div class="elemnt">
          <div class="centered"><h1 style="font-size: 400%;">Itinerary Creator</h1><h2>Generate your itinerary now!</h2></div>
        </div>
        <div class="elemnt2">
          <div class="centered"><h1 style="font-size: 400%;">Itinerary Creator</h1><h2>Generate your itinerary now!</h2></div>
        </div>
        <div class="elemnt3">
          <div class="centered"><h1 style="font-size: 400%;">Itinerary Creator</h1><h2>Generate your itinerary now!</h2></div>
        </div>
        <div class="elemnt4">
          <div class="centered"><h1 style="font-size: 400%;">Itinerary Creator</h1><h2>Generate your itinerary now!</h2></div>
        </div>
        <div class="elemnt5">
          <div class="centered"><h1 style="font-size: 400%;">Itinerary Creator</h1><h2>Generate your itinerary now!</h2></div>
        </div>
        <div class="elemnt6">
          <div class="centered"><h1 style="font-size: 400%;">Itinerary Creator</h1><h2>Generate your itinerary now!</h2></div>
        </div>
        <div class="elemnt7">
          <div class="centered"><h1 style="font-size: 400%;">Itinerary Creator</h1><h2>Generate your itinerary now!</h2></div>
        </div>
        <div class="elemnt8">
          <div class="centered"><h1 style="font-size: 400%;">Itinerary Creator</h1><h2>Generate your itinerary now!</h2></div>
        </div>
        <div class="elemnt9">
          <div class="centered"><h1 style="font-size: 400%;">Itinerary Creator</h1><h2>Generate your itinerary now!</h2></div>
        </div>
        <div class="elemnt10">
          <div class="centered"><h1 style="font-size: 400%;">Itinerary Creator</h1><h2>Generate your itinerary now!</h2></div>
        </div>
        <div class="elemnt11">
          <div class="centered"><h1 style="font-size: 400%;">Itinerary Creator</h1><h2>Generate your itinerary now!</h2></div>
        </div>
        <div class="elemnt12">
          <div class="centered"><h1 style="font-size: 400%;">Itinerary Creator</h1><h2>Generate your itinerary now!</h2></div>
        </div>
        <div class="elemnt13">
          <div class="centered"><h1 style="font-size: 400%;">Itinerary Creator</h1><h2>Generate your itinerary now!</h2></div>
        </div>
        <div class="elemnt14">
          <div class="centered"><h1 style="font-size: 400%;">Itinerary Creator</h1><h2>Generate your itinerary now!</h2></div>
        </div>
      </div>
  </body>
</html>