{% load static %}
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: url("/static/images/ireland6.jpg") fixed;;
			background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
		}
	</style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="/home">Itinerary Creator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/home">Create Itinerary<span class="sr-only">(current)</span></a>
                        </li>
                        {% ifequal article.creator|stringformat:"AnonymousUser" request.user.username %}
                            <li class="nav-item active">
                                <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/signup">Sign Up<span class="sr-only">(current)</span></a>
                            </li>
                        {% else %}
                            <li class="nav-item active">
                                <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
                            </li>
                        {% endifequal %}
                    </ul>
                </div>
            {% ifequal article.creator|stringformat:"AnonymousUser" request.user.username %}
                <span class="hello-msg">Hello, Guest</span>
            {% else %}
                <span class="hello-msg">Hello, {{request.user}}</span>
                <span ><a  class="hello-msg" href="/logout" style="color:white">Logout</a></span>
            {% endifequal %}
        </nav>
    </header>
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center form_container">
                    <div class="user_card">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <div class="box">
                                    <div id="overlay">
                                      <div class="image">
                                        <div class="trick">
                                                <center><img src="/static/images/ireland2.jpg" alt="Profile" width="100" height="100"></center>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <center><br><h5>{{ request.user }}</h5>
                                <p>{{ request.user.email }}</p></center>
                            </div>
                            <div class="about">
                                <center><h5>Joined</h5>
                                <p>{{ request.user.date_joined }}</p></center>
                            </div><br>
                            <div class="d-flex justify-content-center mt-3 login_container">
                                <a href="/view"><input class="btn login_btn" type="submit" value="View Saved Itineraries"></a>
				   		    </div><br>
                            <div class="d-flex justify-content-center mt-3 login_container">
                                <a href="/logout"><input class="btn login_btn" type="submit" value="Logout"></a>
				   		    </div><br>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</body>
</html>
